# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

README.md
.gitignore
# Virtual environment
venv/
env/
*.venv

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3
*.db
*.csv

# Python packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Cache and temporary files
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Credentials and environment variables
.env
*.pem
*.key

# Machine learning & large files
*.h5
*.ckpt
*.onnx
*.pth
*.pkl
